<h2> My Profile </h2>

<div>
  <p><%= image_tag @user.avatar.url %></p>
  <%= form_tag user_path(@user), :html => { :multipart => true } do %>
    <%= file_field_tag :avatar %>
  <% end %>
  <p><span class = "make_red">Email::</span> <%= @user.email %></p>
  <%#= link_to "Edit", edit_user_path %>
</div>
